.section-title {
    text-transform: capitalize;
    text-align: center;
    position: relative;

    font-size: 2em;
    margin-top: 2em;
    background-image: linear-gradient(45deg, #dcd3c8, #a48364, #905f31);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title::before {
    content: "";
    display: block;
    transform: translate(-50%, 50%);
    background-color: #a48364;
    height: 3px;
    width: 35px;
}

.section-title::after {
    content: "";
    display: block;
    transform: translate(50%, 50%);
    background-color: #a48364;
    height: 3px;
    width: 35px;
}
