.header {
    position: fixed;
    width: 100%;
    color: #d4e2e9;
    background-color: #d4e2e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 1em;
}

.title {
    background-color:#d4e2e9;
    color: #a48364;
    font-size: 2em;
    font-weight: 800;
    margin-left: 1em;
    padding: 0em 0.3em;
    cursor: pointer;
}

.navbar-mobile {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #905f31;
    opacity: 40%;
    margin: 0;
    gap: 2rem;
    padding: 1em 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
}

.nav {
    height: 100%;
    position: relative;
    color: #ffffff;
}

.nav:hover {
    color: #a48364;
    cursor: pointer;
}

.nav::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a48364;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

@media only screen and (max-width: 630px) {
    .navbar {
        display: none;
    }
}

@media only screen and (min-width: 630px) {
    .navbar {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        margin: 0;
        gap: 0;
    }
    .nav {
        margin: 0;
        padding: 1em 0;
    }
    .hamburger {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }
}
